Video on Demand(VoD) Platform Requirements Documentation




1. 1. Introduction
2. 1.1 Project Overview
                        The Project is to create a B2B SAAS application that enables content partners to register themselves. Content partners should be able to upload, process and deliver content to various OTT platforms.


1.2 Scope of the Project
Current scope of this project work is to design and develop a system to enable creation of  Content Partners(CP) , Platforms(OTT platforms) and register CP with OTT platforms.




2. Functional Requirements






Requirement No
	Requirement
	Weightage
	Priority
	FR001
	Accept Name of the organization as part of Registration
	40%
	P0
	FR002
	Accept Location as part of registration
	30%
	P1
	FR003
	Accept Contact details as part of registration. Contact details should include person name, corporate emailId and Contact number
	30%
	P0
	FR004
	Content partner
Login: Name
	10%
	P0
	FR005
	Content partner
Login: Location
	10%
	P0
	FR006
	Content partner
Login: Contact details (Person name, Email, and Phone numbers)
	20%
	P1
	FR007
	Delivery Type: Aspera/S3/GCP/SFTP/IBM FASPEX
	10%
	P0
	FR008
	Assets Upload location: Customer location/Our location
	10%
	P0
	FR009
	Metadata format: xls/csv/json/xml/cable labs/mRSS
	10%
	P0
	FR0010
	Master File format (video)
	5%
	0
	FR0011
	Audio File formats
	5%
	0
	FR0012
	Caption file formats
	5%
	0
	FR0013
	Username
	10%
	P0
	

      
















   


Platform


Requirement No
	Requirement
	Weightage
	Priority
	1
	Register/Login: Name
	10%
	P0
	2
	Register/Login: Location
	10%
	P0
	3
	Register/Login: Contact details (Person name, Email, and Phone numbers)
	20%
	P1
	4
	Delivery Type: Aspera/S3/GCP/SFTP/IBM FASPEX
	10%
	P0
	5
	Assets Upload location: Customer location/Our location
	10%
	P0
	6
	Metadata format: xls/csv/json/xml/cable labs/mRSS
	10%
	P0
	7
	Master File format (video)
	5%
	0
	8
	Audio File formats
	5%
	0
	9
	Caption file formats
	5%
	0
	10
	Username
	10%
	P0
	11
	

	10%
	P0
	        Content Providers:
* Content providers can register and upload video files, audio files, and associated metadata.
* Metadata includes video descriptions, audio descriptions, and captions. 
* Support for metadata formats like JSON and XML, etc.
Input and Processing:
* Input video files in common formats(e.g., MP4).
* Embed captions(e.g., SRT files).
* Deploy microservices to process and distribute assets.


2.2 User Management
 
Authentication:
*  Login and registration services with security features.




2.3 Video Delivery and Playback
* Adaptive streaming based on user bandwidth.
* Metadata-driven recommendations to enhance content discovery.
* Multi-device playback support.


2.4 Third-party Integrations
* Integration with SaaS  for content creation and delivery.




3. Technologies


Backend
	Go language
	Frontend
	React.js
	Database
	NoSQL(MongoDB)
	Metadata Processing
	JSON,XML,etc
	



4. Design
   
Microservices:
* Modular architecture for handling metadata, content uploads, and playback separately.


Scaling:
* Horizontal scaling for users.
* Vertical scaling for content and processing needs.